@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    background-color: gray;
}

#header {
    text-align: center;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

#wordTaxi {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#startGame {
    text-align: center;
    margin: 20px;

    section {
        margin: 10px 0;

        label {
            color: white;
            margin: 10px 5px;
        }
    }
}

#nameOfUser {
    display: block;
    margin: 0 auto;
    padding: 5px;
}

#currentUN {
    display: block;
    text-align: center;
    margin: 15px auto;
    width: 100%;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#currentVehicle {
    display: block;
    text-align: center;
    margin: 15px auto;
    width: 100%;
}

#userBtn {
    text-decoration: none;
    color: black;
    background-color: yellow;
    border: 1px solid black;
    text-align: center;
    padding: 5px 15px;
    font-weight: 800;
    margin: 0 10px;
    &:hover {
        color: yellow;
        background-color: black;
        border: 1px solid yellow;
        cursor: pointer;
    }
}

#buttonSection {
    display: flex;
    justify-content: center;
}

.buttons {
    text-decoration: none;
    color: black;
    background-color: yellow;
    border: 1px solid black;
    text-align: center;
    padding: 5px 15px;
    font-weight: 800;
    margin: 0 10px;
}

.buttons:hover {
    color: yellow;
    background-color: black;
    border: 1px solid yellow;
    cursor: pointer;
}

#taxiGrid {
    p {
        margin: 10px 0;
        text-align: center;
    }
}

#grid {
    width: 600px;
    height: 400px;
    background-color: white;
    margin: 15px auto;
}

.row {
    @include grid-row(10);
    height: 40px;
}

.cell {
    border: 1px solid black;
    @include grid-column(1);
    height: 100%;
    margin: 0;
    padding: 0;
}

.currentPass {
    background-color: yellow;
}

.currentTaxi {
    background-color: black;
    color: white;
}

.hidden {
    display: none;
}

#finalUser {
    display: block;
    text-align: center;
    margin: 15px auto;
    width: 100%;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#meanMessage {
    display: block;
    text-align: center;
    margin: 15px auto;
    width: 100%;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#finalScore {
    margin: 10px 0;
    text-align: center;
}

#sadStitch {
    text-align: center;
    width: 100%;
}

.carpic {
    height: 125px;
    width: 200px;
    border: 2px solid black;
}